body {
    font-family: 'Inter', sans-serif;
    background-image: url('https://i.pinimg.com/736x/63/eb/ad/63ebad35b5207c38dd8ba136246184ea.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #e2e8f0;
}

@media (max-width: 768px) {
    #container {
        width: 95%;
        min-height: 500px;
        padding: 0;
    }
    #signin-panel, #signup-panel {
        padding: 1rem;
    }
    h2 {
        font-size: 2.5rem;
    }

    .flex.space-x-4 button img {
        width: 48px;
        height: 48px;
    }
}

#signin-panel, #signup-panel {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    transition: transform 0.7s ease-in-out;
    box-sizing: border-box;
}

#signin-panel {
    transform: translateX(0%);
    z-index: 2;
}

#signup-panel {
    transform: translateX(100%); /* Initially off-screen to the right */
    z-index: 1;
}

#container.active-signup #signin-panel {
    transform: translateX(-100%); /* Move sign-in off-screen to the left */
}

#container.active-signup #signup-panel {
    transform: translateX(0%); /* Move sign-up into view */
}

/* Message box styling */
.message-box {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.message-box.show {
    opacity: 1;
}
.message-box.error {
    background-color: #f44336;
}